# Environment Variables for Ogani Application

# Google OAuth Credentials
GOOGLE_CLIENT_ID=325412642210-fnlsj4l3teuoa3serfu5tpk8lsg98ldn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://192.168.1.46:5432/ogani
SPRING_DATASOURCE_USERNAME=novax
SPRING_DATASOURCE_PASSWORD=Novax20250709

# Gemini API
GEMINI_API_KEY=AIzaSyDYd5pQqbgEWb-4zmDHUwxWO8sOxFgPXIQ

# PayOS Configuration
PAYOS_CLIENT_ID=f92633f2-107f-49cd-85c4-76e69cc0ffb9
PAYOS_API_KEY=12a747b0-20bb-4111-824f-defa4c5490d0
PAYOS_CHECKSUM_KEY=364a7d035ac3529ebdf133392b83fb232fb70307e6c8487ee82e4e357286b0a1

# Email Configuration
SPRING_MAIL_USERNAME=quyenquy053@gmail.com
SPRING_MAIL_PASSWORD=byar glst jput itqo
