<p-toast></p-toast>

<section
  class="breadcrumb-section set-bg"
  [ngStyle]="{ backgroundImage: 'url(assets/image/breadcrumb.jpg' }"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Giỏ hàng</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>Giỏ hàng</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
                <th class="shoping__product">Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cartService.items">
                <td class="shoping__cart__item">
                  <img
                    *ngIf="
                      product.images &&
                      product.images.length > 0 &&
                      product.images[0].name
                    "
                    src="https://hgr0a62zxby.sn.mynetname.net:2003/api/image/file/{{
                      product.images[0].name
                    }}"
                    alt="{{ product.name }}"
                    width="100px"
                  />
                  <img
                    *ngIf="
                      !product.images ||
                      product.images.length === 0 ||
                      !product.images[0].name
                    "
                    src="assets/image/no-image.jpg"
                    alt="No image"
                    width="100px"
                  />
                  <h5>{{ product.name }}</h5>
                </td>
                <td class="shoping__cart__price">
                  {{ product.price | vndCurrency }}
                </td>
                <td class="shoping__cart__quantity">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span
                        class="dec qtybtn"
                        (click)="subtractQuantity(product)"
                        >-</span
                      >
                      <input
                        type="text"
                        [ngModel]="product.quantity"
                        (change)="updateQuantity(product, $event)"
                        min="1"
                      />
                      <span class="inc qtybtn" (click)="plusQuantity(product)"
                        >+</span
                      >
                    </div>
                  </div>
                </td>
                <td class="shoping__cart__total">
                  {{ product.subTotal | vndCurrency }}
                </td>
                <td class="shoping__cart__item__close">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    class="p-button-rounded p-button-danger p-button-text"
                    (click)="removeFromCart(product)"
                  ></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a
            href="javascript:void(0)"
            routerLink="/products"
            class="primary-btn cart-btn"
            >TIẾP TỤC MUA SẮM</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5>Mã giảm giá</h5>
            <form action="#">
              <input type="text" placeholder="Enter your coupon code" />
              <button type="submit" class="site-btn">
                Áp dụng mã giảm giá
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5>Tổng giỏ hàng</h5>
          <ul>
            <li>
              Thành tiền <span>{{ cartService.totalPrice | vndCurrency }}</span>
            </li>
            <li>Khuyến mãi <span>- 0%</span></li>
            <li>
              Tổng <span>{{ cartService.total | vndCurrency }}</span>
            </li>
          </ul>
          <a
            href="javascript:void(0)"
            routerLink="/checkout"
            class="primary-btn"
            >TIẾP TỤC THANH TOÁN</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
