.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.breadcrumb-section {
    padding: 50px 0;
    background-size: cover;
    background-position: top center;
}

.breadcrumb__text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
} 